
    <div class="contentpanel">
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <div class="pull-left breadcrumb_admin clear_both">
        <div class="pull-left page_title theme_color">
          <h1>contact</h1>
          <h2 class="">Subtitle goes here...</h2>
        </div>
        <div class="pull-right">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">PAGES</a></li>
            <li class="active">Contact</li>
          </ol>
        </div>
      </div>
      <div class="container clear_both padding_fix">
        <!--\\\\\\\ container  start \\\\\\-->
        
        
         
        <div class="row">
          <!--<div class="col-lg-5">
            <section class="panel default blue_title h2">
            <div class="panel-heading">Contact</div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                  
                  <address>
                  <strong>Full Name</strong><br>
                  <a href="mailto:#">first.last@example.com</a>
                  </address>
                
              </div>
            </section>
          </div>-->
          <div class="col-lg-7">
            <section class="panel default blue_title h2">
            <div class="panel-heading">Feedback Form</div>
            <div class="row">
					<div class="col-md-6">
                    <div class="panel-body">
						<input type="text" placeholder="YOUR NAME" name="name" class="form-control">
					</div>
                    </div>
					<div class="col-md-6"> 
                    <div class="panel-body">
						<input type="text" placeholder="PHONE" name="phone" class="form-control">
					</div>
                    </div>
				</div>
            <div class="panel-body">  
              <div class="inner_form">
					<textarea placeholder="YOUR MESSAGE" rows="5" class="form-control" name="message"></textarea>
				</div>
                <div class="pull-right">
						<button class="btn btn-primary btn-icon glyphicons envelope"><i></i> Send message</button>
					</div>
                    </div>
              
            </section>
          </div>
        </div>
        
        <div class="row">
        <div class="col-lg-12">
         <div id="world-map" style="height: 400px"></div>
         </div>
         </div>
        
      
      </div>
      <!--\\\\\\\ container  end \\\\\\-->
    </div>
    <!--\\\\\\\ content panel end \\\\\\-->
  

