 <div class="contentpanel">
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <div class="pull-left breadcrumb_admin clear_both">
        <div class="pull-left page_title theme_color">
          <h1>Tabs & Accordion</h1>
          <h2 class="">Subtitle goes here...</h2>
        </div>
        <div class="pull-right">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">UI KIT</a></li>
            <li class="active">Tabs & Accordion</li>
          </ol>
        </div>
      </div>
      <div class="container clear_both padding_fix">
        <!--\\\\\\\ container  start \\\\\\-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel default blue_title h2">
              <div class="panel-heading">Default<span class="semi-bold"> Tabs</span> </div>
              <div class="panel-body">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                  <li><a data-toggle="tab" href="#profile">Profile</a></li>
                  <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">Dropdown <b class="caret"></b></a>
                    <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                      <li><a data-toggle="tab" tabindex="-1" href="#dropdown1">@fat</a></li>
                      <li><a data-toggle="tab" tabindex="-1" href="#dropdown2">@mdo</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div id="home" class="tab-pane fade in active">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                  </div>
                  <div id="profile" class="tab-pane fade">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  </div>
                  <div id="dropdown1" class="tab-pane fade">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                  </div>
                  <div id="dropdown2" class="tab-pane fade">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">portlet<span class="semi-bold"> Tabs</span> </div>
              <div class="panel-body">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a data-toggle="tab" href="#Tab1">Tab1</a></li>
                  <li><a data-toggle="tab" href="#Tab2">Tab2</a></li>
                  <li><a data-toggle="tab" href="#Tab3">Tab3</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div id="Tab1" class="tab-pane fade in active">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                  </div>
                  <div id="Tab2" class="tab-pane fade">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
                  </div>
                  <div id="Tab3" class="tab-pane fade">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
       
        
        
        
        
        
        <div class="row">
          <div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">Basic <span class="semi-bold">Accordion</span> </div>
              <div class="panel-body">
               
               <div class="panel-group accordion accordion-semi" id="accordion3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-1"> <i class="fa fa-angle-right"></i> Semi-primary Accordion </a> </h4>
                </div>
                <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                  <div class="panel-body"> Etiam euismod diam justo, quis luctus leo commodo et. Sed pretium est sit amet ligula consequat, sed suscipit arcu rhoncus. Sed bibendum posuere tincidunt. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-2"> <i class="fa fa-angle-right"></i> Collapsible Group Item #2 </a> </h4>
                </div>
                <div id="ac3-2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body"> In vel mi porta, bibendum nulla et, scelerisque lacus. Morbi pellentesque interdum blandit. In consequat tempus pharetra. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-3"> <i class="fa fa-angle-right"></i> Collapsible Group Item #3 </a> </h4>
                </div>
                <div id="ac3-3" class="panel-collapse collapse">
                  <div class="panel-body">Etiam euismod diam justo, quis luctus leo commodo et. Sed pretium est sit amet ligula consequat, sed suscipit arcu rhoncus. </div>
                </div>
              </div>
            </div>
               
              </div>
            </section>
          </div>
          <div class="col-lg-6">
            <section class="panel default blue_title h2">
              <div class="panel-heading">Basic <span class="semi-bold"> Accordion</span> </div>
              <div class="panel-body">
                
                
                
                <div id="accordion" class="panel-group  accordion accordion-color">
      <div class="panel panel-default">
        <div class="panel-heading success">
          <h4 class="panel-title ">
            <a href="#collapse4" data-parent="#accordion" data-toggle="collapse" class="">
              Collapsible Group Item #1
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse in" id="collapse4" style="height: auto;">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading yellow">
          <h4 class="panel-title">
            <a href="#collapse5" data-parent="#accordion" data-toggle="collapse" class="collapsed">
              Collapsible Group Item #2
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapse5" style="height: 0px;">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading blue">
          <h4 class="panel-title">
            <a href="#collapse6" data-parent="#accordion" data-toggle="collapse" class="collapsed">
              Collapsible Group Item #3
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapse6" style="height: 0px;">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
                
                
              </div>
            </section>
          </div>
        </div>
        
        
        
        
        
        
        
      </div>
      <!--\\\\\\\ container  end \\\\\\-->
    </div>
    <!--\\\\\\\ content panel end \\\\\\-->
